<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Procesos de Separación</title>
    <meta name="google-adsense-account" content="ca-pub-8339435134961489">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<h1>Diagramas de Procesos de Separación</h1>

<div class="menu">
    <a href="/destilacion_mccabe">Destilación McCabe–Thiele</a>
    <a href="/destilacion_ponchon">Destilación Ponchon–Savarit</a>
    <a href="/absorcion">Absorción</a>
    <a href="/extraccion-sl">Extracción Sólido–Líquido</a>
    <a href="/extraccion-ll">Extracción Líquido–Líquido</a>
</div>

</body>
</html>
